/************************ ALL *************************/

:root {
  --blackColor: #000000;
  --backgroundSite: #f1f5f8;
  --textRed: #cf3034;
  --whiteBox: #ffffff;
}

* {
  font-family: "Nunito sans";
  margin: 0;
}

button,
section.accueil h3,
.colorBox,
footer {
  background-color: var(--textRed);
}

div.box h2,
section.impact h3 b {
  color: var(--textRed);
}

div.box,
div.whiteBox {
  background-color: #ffffff;
}

body {
  background-color: #f1f5f8;
}

div.container {
  max-width: 1196px;
  height: auto;
  margin: auto;
}

h1 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 50px;
}

section {
  margin-bottom: 100px;
}
@media screen and (max-width:800px) {
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 16px;
    font-weight: 500;
  }
  
  section {
    margin-bottom: 50px;
  }

}
/************************ Accueil *************************/
/*********** NAV ***********/


@import url('https://fonts.googleapis.com/css?family=Roboto');

 .navigation {
  padding-top: 19px;
     height: 55px;
     /* background: linear-gradient(45deg, #4199fe, #74b4fe); */
}

 .nav-container#nav-container {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.brand {
  margin-top: 6px;
}
 nav {
     float: right;
}
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
 nav ul li {
     float: left;
     position: relative;
}
 nav ul li a,nav ul li a:visited {
     display: flex;
     justify-content: center;
     padding: 0 20px;
     line-height: 55px;
     color: var(--blackColor);
     /* background: #262626 ; */
     text-decoration: none;
}
 nav ul li a{
     background: transparent;
     color: #FFF;
}
 /* nav ul li a:hover, nav ul li a:visited:hover {
     background: #2581DC;
     color: #ffffff;
} */
 .navbar-dropdown li a{
     background: #f1f5f8;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 190px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}
 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
    }
  
     nav {
         width: 100%;
         padding: 55px 0 15px;
    }
     nav ul {
         display: none;
    }
     nav ul li {
         float: none;
    }
     nav ul li a {
         padding: 15px;
         line-height: 20px;
         background: var(--backgroundSite);
    }
     nav ul li ul li a {
         padding-left: 30px;
    }
     .navbar-dropdown {
         position: static;
}}
 @media screen and (min-width:800px) {
     .nav-list {
         display: block !important;
    }
 }
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background-color: var(--textRed);
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
 


/* nav img {
  height: 58px;
  width: auto;
}

nav {
  height: 83px;
  width: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 19px 0 45px 0;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li {
  margin-left: 57px;
}

nav ul li a {
  text-decoration: none;
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 600;
} */
/*********** NAV ***********/

div.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px 0 45px 60px;
}

div.box h2 {
  margin-top: 49px;
  font-size: 38px;
  line-height: 43.09px ;
  padding-bottom: 12px;
}

div.box i {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 300;
}

div.box05 {
  margin-top: 49px;
}

div.box05 button {
  font-size: 18px;
  padding: 14px 32px 13px 32px;
  border-radius: 6px;
}

button#a {
  color: var(--whiteBox);
  border: 1.5px solid var(--textRed);
  margin-right: 19px;
}
button#b {
  color: var(--textRed);
  background-color: transparent;
  border: 1px solid var(--textRed);
}

@media screen and (max-width:800px) {
/* div.box div img, */
div.box06 {
  display: none;
}
 div.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 31px 16px;
 }

 div.box div h2 {
  margin-top: 20px;
 }

 div.box05 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 }

 button#a {
  margin-right: 0;
  margin-bottom: 15px;
 }

 div.box h2 {
  font-size: 24px;
  line-height: 27.22px;
 }


}
/************************ Impact ************************/

div.center {
  display: flex;
  justify-content: center;
}

div.order {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 818px;
}

div.flecheBox {
  display: flex;
  justify-content: flex-end;
  padding: 0 7px 10px 0;
}

#cr {
  padding-right: 15px;
}

.flecheBox2 {
  padding-left: 19px;
  padding-top: 31px;
}

#flecheBlanche {
  filter: invert(1);
}
section.impact div.whiteBox {
  margin-right: 10px;
}

section.impact div.whiteBox,
section.impact div.colorBox {
  height: 254px;
  width: 197px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.impact div.colorBox {
  color: var(--whiteBox);
}

section.impact h3 {
  font-size: 36px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

section.impact p {
  font-size: 24px;
  line-height: 113.4%;
}

@media screen and (max-width:800px) {
div.order {
  
    display: grid;
    grid-template-columns: 1fr 1fr ;
  width: auto;
}

div.center {
  display: flex;
  justify-content: center;
}


div.flecheBox {
  display: flex;
  justify-content: flex-end;
  padding: 0 7px 10px 0;
}

#cr {
  padding-right: 15px;
}

.flecheBox2 {
  padding-left: 19px;
  padding-top: 31px;
}

#flecheBlanche {
  filter: invert(1);
}
section.impact div.whiteBox {
  margin-right: 10px;
}

section.impact div.whiteBox,
section.impact div.colorBox {
  height: 254px;
  width: 197px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.impact div.colorBox {
  color: var(--whiteBox);
}

section.impact h3 {
  font-size: 64px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

section.impact p {
  font-size: 24px;
  line-height: 113.4%;
}
}

/************************ Témoignages *************************/

section.temoignages .whiteBox {
  display: grid;
  grid-template-columns: 1fr auto;
  /* padding: 71px 59px 0 59px; */
}

.avisBox {
  padding-bottom: 71px;
  padding: 82px 0 71px 59px;
}

.boxImage {
  margin-left: 50px;
  padding: 71px 59px 0 0;
}

section.temoignages h4 {
  font-size: 96px;
  margin: 0;
}

section.temoignages p {
  font-size: 18px;
  font-weight: 300;
  /* text-justify: distribute; */
}

p#avis {
  padding-right: 20px;
}

p#avis2 {
  margin-top: 22px;
}

section.temoignages b {
  font-weight: 600;
  padding-right: 330px;
  margin-top: 22px;
}

.interaction {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-bottom: 16px;
}

div.nbrSlide {
  display: flex;
  flex-direction: row;
}

div.nbrSlide p {
  font-size: 24px;
}

div.image1 {
  background-image: url(./asset/VectorL.png);
  height: 23px;
  width: 12px;
  margin: auto 0;
}

div.image2 {
  background-image: url(./asset/VectorR.png);
  height: 23px;
  width: 12px;
  margin: auto 0;
}

p#aa {
  font-weight: 700;
}

p#bb {
  padding: 0 11px;
}

h4.caractere {
  line-height: 25px;
  color: var(--textRed);
}

@media screen and (max-width:800px) {
  div.boxImage {
    display: none;
  }
}
/************************ Apprenti *************************/

div.imageBox {
  background-image: url(./asset/img-apprentis.png);
  background-position: center;
  height: 375px;
  display: flex;
  justify-content: flex-end;
}

div.imageBox div {
  background-color: var(--whiteBox);
  height: 313px;
  width: 511px;
}

div.infoImageBox #infoImageBox {
  /* margin: 40px 35px 33px 40px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 40px;
  height: 323px;
  height: 511px;
}

div.infoImageBox h3 {
  padding: 40px 35px 25px 40px;
  line-height: 27.22px;
  font-size: 24px;
}

div.infoImageBox p {
  font-size: 18px;
  line-height: 20.41px;
  padding: 0px 35px 32px 40px;
}

div.infoImageBox button {
  border: 1px solid var(--textRed);
  border-radius: 6px;
  height: 52px;
  width: 193px;
  font-size: 18px;
  font-weight: 700;
  color: var(--whiteBox);
  margin: 0 0px 20px 40px;
}

/************************ Soutien *************************/
section.soutien .whiteBox {
  display: flex;
  justify-content: center;
}
section.soutien img {
  margin: 30px 15px;
}
#GroupRed {
  height: 47px;
  width: auto;
  margin: 0;
}

.iconeBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width:800px) {
  

img#imageFive {
    width: 53.9px;
    height: 48.08px;
  }
img#imageFour  {
    width: 48.08px;
    height: 48.08px;
  }

img#imageThree  {
    width: 49.17px;
    height: 48.08px;
  }

img#imageTwo {
    width: 62.12px;
    height: 48.08px;
  }

img#imageOne{
    width: 48.08px;
    height: 48.08px;
  }
  
section.soutien img {
    margin: 19px 17px 20px 17px;
  }

div.iconeDirectional img {
    margin: 30px 15px;
  }

div.whiteBox {
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  
}
div.iconeBox {
    background-color: var(--whiteBox);
  }

  div.groupeRed {
display: flex;
justify-content: end;
flex-direction: column;
  }

  

}
/************************ Footer *************************/

footer {
  display: flex;
  flex-direction: column;
  color: var(--whiteBox);
}
.itemBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: center;
}
.imgBox {
  margin: 50px 72.5px 60px 0;
}

.itemBox1 {
  margin: 50px 0 60px 72.5px;
  /* width: 315px; */
}

.itemBox1 h3 {
  font-size: 38px;
}

.itemBox1 p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.itemBox1 input {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 4px 0 4px 21px;
  font-size: 16px;
  color: #ffffff;
}

.itemBox1 input::placeholder {
color: var(--whiteBox);
font-size: 16px;
font-weight: 300;
}
.emailBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid var(--backgroundSite) "
}



.itemBox2 {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}

#middleImg {
  margin: 0 29px;
}

#leftImg {
  margin-left: 29px;
}

#rightImg {
  margin-right: 29px;
}

.itemBox3 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
/* 
.itemBox3 hr {
  color: var(--whiteBox);
  margin: 0 28px;
  height: 28px;
  border: 2px solid #ffffff;
  height: 28px;
 }  */

.itemBox3 p {
  border-right: 2px solid var(--whiteBox);
  padding: 0 15px;
}
.itemBox3 a {
  margin-top: 5px;
}

footer a {
  color: var(--whiteBox);
  text-decoration: none;
  font-size: 16px;
}

/* .icon {
  background: url(./asset/icon-mail.png) no-repeat right;
  background-size: 20px;
  padding: 0;
} */